@font-face {
    font-family: "futura-pt";
    src: url("https://gitcoin.co/static/v2/fonts/futura/font4.ttf") /* TTF file for CSS3 browsers */
}

@font-face {
  font-family: "OpenSans Bold";
  src: url('https://gitcoin.co/static/v2/fonts/OpenSans/Bold.ttf');
}

@font-face {
  font-family: "OpenSans SemiBold";
  src: url('https://gitcoin.co/static/v2/fonts/OpenSans/SemiBold.ttf');
}

@font-face {
  font-family: "OpenSans";
  src: url('https://gitcoin.co/static/v2/fonts/OpenSans/Regular.ttf');
}